@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border font-comfortaa dark:outline-white outline-additional;
}

html {
  @apply scroll-smooth;
}

body {
  @apply dark:bg-additional bg-white;
}

input[type='text'],
.relative textarea {
  @apply outline-none;
}

@layer components {
  .text-gradient-b {
    @apply bg-gradient-to-b from-[#8F1560] to-[#253269];
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
  .bg-gradient-d-r {
    @apply bg-gradient-to-r from-additional via-transparent to-additional;
  }
  .bg-gradient-light-r {
    @apply bg-gradient-to-r from-white via-transparent to-white;
  }
  .bg-gradient-b {
    @apply bg-gradient-to-b from-[#8F1560] to-[#253269];
  }
  body:before {
    @apply bg-[url('../assets/images/grain.png')]
     w-full 
     h-4/5
     absolute 
     top-0 
     left-0 
     z-[-1] 
     bg-[length:100px];
    content: '';
    -webkit-mask-image: radial-gradient(
      circle closest-side at 50% 50%,
      rgba(0, 0, 0, 0.15),
      transparent 100%
    );
    mask-image: radial-gradient(
      circle closest-side at 50% 50%,
      rgba(0, 0, 0, 0.15),
      transparent 100%
    );
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
